extends layout 

block content 
  h1 Welcome to the Members Only Club! 

  .messages
    if messages
      each message in messages 
        .message 
          p: a(href=message.url) #{message.title}
    else 
      p There are no messages.