div.login
  form(method='post' action='/login')
    .formfield
      label(for='username') Username: 
      input#username(type='text' name='username')
    .formfield 
      label(for='password') Password: 
      input#password(type='password' name='password')
    .buttons  
      a(href='/register') Create Account
      button(type='submit') Login