extends layout 

block head 
  link(rel='stylesheet' href='/styles/message_detail.css')

block content 

  if !message
    p There has been a problem displaying the message 
  else 
    .message
      h2 !{message.title} 
      p.body !{message.body} 
      if message.timestamp && message.author
        .byline 
          p
            span !{message.author.username} 
            | on
            span  !{message.timestamp.toLocaleString()}
  form(method='post' action='')
    p Are you sure you want to delete this message?
    button(type='submit') Delete Message