:root {
  --link-color-header-footer: #6b7280;
  --link-color-content: #6b7280;
  --header-nav-footer-bg-color: #d1d5db;
  --body-bg-color: #f3f4f6;
  --header-button-a-bgcolor: #9ca3af;
  --message-link-hover-color: #9ca3af;
}
* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: var(--body-bg-color);
}

header, footer {
  padding: 8px;
  position: relative;
  background-color: var(--header-nav-footer-bg-color);
}

header {
  display: flex;
  justify-content: space-between;
}

header .logo {
  margin-left: 3rem;
}

header .logo h1 {
  font-family: Verdana;
  font-weight: 300;
  margin-bottom: 5px;
}

header .logo p {
  font-family: Verdana;
  font-weight: 200;
  margin: 0;
}

.login p{
  margin: 3px;
  text-align: right;
  font-family: Arial;
}
header .login { 
  display: flex;
  flex-direction: column;
  gap: 3px;
}

header form .formfield {
  display: flex;
  gap: 4px;
  margin: 4px;
  flex-direction: row;
  font-size: .9em;
}

header form .formfield label {
  width: 125px;
  align-self: flex-end;
  text-align: right;
}

header form .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
header form .buttons a,
header form .buttons button {
  padding: 5px;
  margin: 0;
  border: 0;
  color: black;
  background-color: var(--header-button-a-bgcolor);
  text-decoration: none;
  font-family: Verdana;
  font-size: 1em;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid rgba(0, 0, 0, .2);
  border-bottom:2px solid rgba(0, 0, 0, .2);
  background-color: var(--header-nav-footer-bg-color);
}

nav ul {
  list-style: none;
  margin: 0 2rem;
  padding: 0;

  display: flex;
  flex-direction: row;

  justify-content: center;
}

nav ul li {
  margin: 10px;
  padding: 10px;

  transition: transform 75ms ease-in;
}

nav ul li a {
  text-decoration: none;
  color: var(--link-color-header-footer);
}

nav ul li:hover {
  transform: scale(1.2);
}

.content {
  flex: 1;
  padding: 4em;
  padding-top: 0;
}

.content h1,
.content h2 {
  font-family: Verdana;
  font-weight: 200;
}

.messages {
  padding: 0 4em;
}

.message a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--link-color-content);
}

.message a:hover {
  color: var(--message-link-hover-color);
}

footer {
  /* position: sticky; */
  bottom: 0px;
  border-top: 2px solid rgba(0, 0, 0, .2);
}

footer div {
  margin: 1rem 0;
}

footer .links div {
  min-width: 15%;
}

footer .links {
  display: flex;
  justify-content: flex-start;
  margin: 0 2rem;
}

footer .about,
footer .help,
footer .contact {
  display: inline-block;
}

footer .disclaimer {
  font-size: .8rem;
  margin: 0 2rem;
}

footer .disclaimer p {
  margin: 3px 0;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: .85rem;
}

footer h3 {
  font-size: .9rem;
  font-weight: 300;
  margin: 4px 0;
}

footer a {
  color: var(--link-color-header-footer);

}

.byline,
.byline a  {
  font-size: .8rem;
}

.side {
  float: right;
}

.options-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}